.features {
  padding: 120px 0;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.features-item {
  flex-basis: calc((100% - 72px) / 4);
}

.features-item-title {
  margin: 0 0 8px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.features-item-text {
  margin: 0;
}
