.page-footer {
  padding: 100px 0;
  background-color: var(--dark);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  color: var(--light);
}

.footer-text {
  max-width: 264px;
  margin: 0;
  color: var(--light);
}
