.team {
  background-color: var(--light);
}

.team-card {
  background-color: var(--white);
}

.team-card-content {
  text-align: center;
}

.team-name {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--dark);
  text-align: center;
}

.team-position {
  color: var(--text);
  text-align: center;
}
